Repository 42DoProject/42DoProject, pull requests merged in 2021-09, with the labels that each got.

#2 feat: typescript
  back/Dockerfile
  back/app.js
  back/package-lock.json
  back/package.json
  back/src/main.ts
  back/tsconfig.json
  docker-compose-down.sh
  docker-compose-up.sh
  docker-compose.yml
Labels: back

#31 feat: #12 #23 add MySQL container and install Sequelize
  back/config/config.json
  back/models/index.js
  back/models/test.js
  back/package-lock.json
  back/package.json
  back/src/main.ts
  docker-compose.yml
Labels: enhancement, back

#33 feat: #32 sequelize - typescript, cleanup, env
  back/.env
  back/config/config.json
  back/models/index.js
  back/models/test.js
  back/package-lock.json
  back/package.json
  back/src/main.ts
  back/src/models/index.ts
  back/src/models/user/user.model.ts
  back/tsconfig.json
  db/.env
Labels: back

#37 fix: #36 fix databaseConnectionError
  back/.env
  back/package-lock.json
  back/package.json
  back/src/models/index.ts
  docker-compose-down.sh
  docker-compose-up.sh
Labels: bug, back

#43 [back] login (secure)
  back/.env
  back/package-lock.json
  back/package.json
  back/src/interface/@types/express.d.ts
  back/src/interface/a.interface.ts
  back/src/interface/token.interface.ts
  back/src/main.ts
  back/src/models/user/blacklist.model.ts
  back/src/models/user/otoken.model.ts
  back/src/models/user/token.model.ts
  back/src/models/user/user.model.ts
  back/src/routes/auth/auth.controller.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/auth/oauth.ts
  back/src/routes/index.ts
Labels: back

#45 [back] create project models
  back/.env
  back/package-lock.json
  back/src/models/project/content.model.ts
  back/src/models/project/list.model.ts
  db/.env
  package-lock.json
Labels: back

#47 feat: #42 blacklist token collector
  back/package-lock.json
  back/package.json
  back/src/main.ts
  back/src/routes/auth/oauth.ts
Labels: back

#44 feat : #19 add pagination to allprojectpage
  front/package-lock.json
  front/package.json
  front/src/Components/AllProjectPage/AllProjectPage.js
  front/src/Components/AllProjectPage/ProjectPaginate.js
  front/src/SCSS/AllProjectPage/ProjectGrid.scss
  front/src/SCSS/AllProjectPage/ProjectPaginate.scss
  front/src/SCSS/AllProjectPage/ProjectTypeBar.scss
Labels: front

#49 feat: #48 profile page
  back/src/interface/profile.interface.ts
  back/src/models/user/blacklist.model.ts
  back/src/models/user/follow.model.ts
  back/src/models/user/otoken.model.ts
  back/src/models/user/profile.model.ts
  back/src/models/user/token.model.ts
  back/src/models/user/user.model.ts
  back/src/module/time.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
  back/src/routes/user/user.controller.ts
  back/src/routes/user/user.service.ts
  back/tsconfig.json
Labels: back

#51 feat: #50 cross origin resource sharing
  back/package-lock.json
  back/package.json
  back/src/main.ts
Labels: back

#54 [back] #46 get project list
  back/package-lock.json
  back/src/models/project/project.model.ts
  back/src/routes/index.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: enhancement, back

#56 feat: #52 follow, unfollow
  back/src/models/user/follow.model.ts
  back/src/models/user/profile.model.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/user/user.controller.ts
  back/src/routes/user/user.service.ts
Labels: back

#59 feat: #58 websocket init
  back/package-lock.json
  back/package.json
  back/src/main.ts
  back/src/socket/chat.handler.ts
  back/src/socket/index.ts
Labels: back

#68 [back] #55 get tag filter function
  back/src/models/project/project.model.ts
  back/src/models/project/projecttag.model.ts
  back/src/models/project/tag.model.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: enhancement, back

#70 [back] feat: #65 socket, rest api bridge
  back/package-lock.json
  back/package.json
  back/src/main.ts
  back/src/models/chat/chat.model.ts
  back/src/models/user/profile.model.ts
  back/src/routes/chat/chat.controller.ts
  back/src/routes/chat/chat.service.ts
  back/src/routes/index.ts
  back/src/socket/bridge.ts
  back/src/socket/chat.handler.ts
  back/src/socket/chat/chat.handler.ts
  back/src/socket/index.ts
Labels: back

#76 feat: #74 mongo db init
  back/.env
  back/package-lock.json
  back/package.json
  back/src/interface/chat.interface.ts
  back/src/main.ts
  back/src/models/chat/row.mongo.ts
  back/src/models/index.ts
  db/.env
  docker-compose.yml
Labels: enhancement, back

#79 feat: #73 #78 add project list to table and delete project list
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: enhancement, back

#83 feat: #72 #80 add err management and init tag table
  back/.env
  back/src/main.ts
  back/src/models/index.ts
  back/src/routes/project/project.service.ts
Labels: back

#100 feat: #96 add lounge page css
  front/src/App.js
  front/src/Components/CadetPage/CardsList.js
  front/src/Components/LoungePage/LoungeBody.js
  front/src/Components/LoungePage/LoungePage.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/LoungePage/LoungeWrite.js
  front/src/Components/LoungePage/ProjectPaginate.js
  front/src/SCSS/AllProjectPage/ProjectTypeBar.scss
  front/src/SCSS/Base.scss
  front/src/SCSS/CadetPage/CadetTypeBar.scss
  front/src/SCSS/LoungePage/LoungeBody.scss
  front/src/SCSS/LoungePage/LoungePage.scss
  front/src/SCSS/LoungePage/LoungePost.scss
  front/src/SCSS/LoungePage/LoungeWrite.scss
  front/src/SCSS/MainPage/MainBody.scss
  front/src/smaller-triangle.jpg
  front/src/triangle-background.jpg
Labels: front

#102 [back] feat: #87 #99 add associations and fix API error
  back/Dockerfile
  back/package-lock.json
  back/package.json
  back/src/models/project/comments.model.ts
  back/src/models/project/commentsprofile.model.ts
  back/src/models/project/content.model.ts
  back/src/models/project/project.model.ts
  back/src/models/project/projectprofile.model.ts
  back/src/models/user/profile.model.ts
  back/src/models/user/user.model.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back

#104 [back] feat: #103 get content and comments
  back/src/models/index.ts
  back/src/models/project/comments.model.ts
  back/src/models/project/commentsprofile.model.ts
  back/src/models/project/projectprofile.model.ts
  back/src/models/user/profile.model.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back

#106 [back] feat: #105 fix tag init error
  back/src/models/index.ts
  back/src/routes/project/project.service.ts
Labels: bug, back

#111 [back] back/chat/constructor chat 기능
  back/src/interface/chat.interface.ts
  back/src/main.ts
  back/src/models/chat/chat.model.ts
  back/src/models/chat/lastchat.mongo.ts
  back/src/models/chat/profilechat.model.ts
  back/src/models/chat/row.mongo.ts
  back/src/models/project/projecttag.model.ts
  back/src/models/user/profile.model.ts
  back/src/routes/chat/chat.controller.ts
  back/src/routes/chat/chat.service.ts
  back/src/routes/project/project.service.ts
  back/src/socket/chat/chat.handler.ts
  back/src/socket/index.ts
Labels: back

#112 feat: #107 #108 #109 CURD project list, content, comments
  back/src/models/index.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back

#114 feat: #113 project API code refactoring
  back/src/routes/project/project.service.ts
Labels: back

#115 feat: #64 #86 issue
  back/src/models/user/user.model.ts
  back/src/routes/auth/auth.service.ts
Labels: enhancement, back

#117 [back] feat: #116 add new column
  .gitignore
  back/.env
  back/src/models/index.ts
  back/src/models/project/position.model.ts
  back/src/models/project/project.model.ts
  back/src/models/project/projectposition.model.ts
  back/src/models/project/tag.model.ts
  back/src/routes/project/project.service.ts
  db/.env
  docker-compose.yml
Labels: back

#119 [back] #118: add position logic and state criteria
  back/src/models/project/project.model.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
  db/.env
Labels: back

#124 [back] feat: #120 project router code refactoring
  back/src/routes/project/project.service.ts
Labels: back

#131 feat: #130 42intra Data Binding
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/CommonComponent/Navbar.js
  front/src/Components/MainPage/PopUp.js
  front/src/reducer/LoginReducer.js
Labels: front

#138 [back] feat: #137 add cal view count
  back/src/models/project/content.model.ts
  back/src/routes/project/project.service.ts
Labels: back

#144 [back] feat: #141 add completed state
  back/src/routes/project/project.service.ts
Labels: back

#145 [back] feat: #135 add sort function
  back/src/models/project/project.model.ts
  back/src/routes/project/project.service.ts
Labels: back

#154 feat: #153 user profile page
  back/.env
  back/src/interface/user.interface.ts
  back/src/models/user/feed.mongo.ts
  back/src/models/user/profile.model.ts
  back/src/module/feed.ts
  back/src/module/format.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/user/user.controller.ts
  back/src/routes/user/user.service.ts
Labels: back
