Repository 42DoProject/42DoProject, pull requests merged in 2021-10, with the labels that each got.

#158 [back] feat: #155 add number of comments column
  back/src/models/project/content.model.ts
  back/src/models/project/project.model.ts
  back/src/routes/project/project.service.ts
  db/.env
Labels: back

#161 feat: #134 add skills.json
  front/src/Components/CommonComponent/Chat.js
  front/src/Components/CommonComponent/Navbar.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/MainPage/PopUp.js
  front/src/Components/ProfileEditPage/ProfileEditBody.js
  front/src/Components/ProfilePage/Follow.js
  front/src/Components/ProfilePage/ProfileBody.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/SCSS/ProfilePage/Follow.scss
  front/src/SCSS/ProfilePage/ProfileBody.scss
  front/src/SCSS/ProfilePage/ProfileHeader.scss
  front/src/skills.json
Labels: front

#162 Front/skills
  front/src/Components/ProfileEditPage/ProfileEditBody.js
  front/src/Components/ProfilePage/ProfileBody.js
  front/src/skills.json
Labels: front

#165 feat: #164 level to intra level
  back/src/models/user/profile.model.ts
  back/src/routes/auth/auth.service.ts
Labels: back

#175 feat: #174 add POST
  front/src/Components/ProfileEditPage/ProfileEditBody.js
  front/src/Components/ProfileEditPage/ProfileEditHeader.js
  front/src/Components/ProfileEditPage/ProfileEditPage.js
  front/src/Components/ProfilePage/ProfileBody.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProfilePage/ProfilePage.js
  front/src/SCSS/ProfilePage/ProfileBody.scss
  front/src/SCSS/ProfilePage/ProfileHeader.scss
  front/src/relativeTime.js
  front/src/userData.js
Labels: front

#178 feat: #160 modify tag(skill, position) logic
  back/.env
  back/src/main.ts
  back/src/models/index.ts
  back/src/models/project/position.model.ts
  back/src/models/project/project.model.ts
  back/src/models/project/projectposition.model.ts
  back/src/models/project/projecttag.model.ts
  back/src/models/project/tag.model.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back

#181 feat: user introduction, statusMessage limit
  back/src/models/user/profile.model.ts
  back/src/models/user/user.model.ts
  back/src/routes/user/user.service.ts
Labels: back

#182 feat: json parse string to number
  back/src/routes/user/user.service.ts
Labels: back

#183 feat: #69 realtime concurrent users
  back/src/routes/user/user.controller.ts
  back/src/routes/user/user.service.ts
  back/src/socket/index.ts
Labels: back

#185 feat: #136 #184 modify tag filtering and get total number of project
  back/src/models/project/project.model.ts
  back/src/routes/project/project.service.ts
Labels: back

#191 feat: #190 introduction, statusMessage
  back/src/routes/user/user.service.ts
Labels: bug, back

#192 feat: #186 #187 get user profile image and join team
  back/src/models/project/applyprojectprofile.model.ts
  back/src/models/project/likeprojectprofile.model.ts
  back/src/models/project/project.model.ts
  back/src/models/user/profile.model.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back

#198 feat: #195 add access authority
  back/src/models/project/project.model.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back

#210 [back] feed, last access
  back/src/interface/user.interface.ts
  back/src/models/user/feed.mongo.ts
  back/src/models/user/profile.model.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
  back/src/routes/user/user.service.ts
  back/src/socket/index.ts
Labels: enhancement, back

#211 feat: #208 change inquired chat list format
  back/src/interface/chat.interface.ts
  back/src/routes/chat/chat.service.ts
Labels: back

#218 feat: followings
  back/src/routes/user/user.service.ts
Labels: back

#231 feat: guest can access following, follower list
  back/src/routes/index.ts
  back/src/routes/user/user.controller.ts
Labels: bug, back

#259 Back/projectside2
  back/src/routes/project/project.service.ts
Labels: back

#345 [back] feat: #344 give 1 status to signed up user
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
Labels: back

#352 [back] feat: #346 profile image
  back/src/module/aws/s3.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
Labels: bug, back

#351 [back] feat: #350 all user pagination
  back/src/module/search.ts
  back/src/routes/search/search.service.ts
Labels: enhancement, back

#353 feat: #222 project API code refactoring
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back
