Repository 42DoProject/42DoProject, pull requests merged in 2021-12, with the labels that each got.

#708 fix: #443 DmErr
  front/src/Components/CommonComponent/Chat/Chat.js
Labels: front

#709 [DEPLOY] fix DM ERR
  front/src/Components/CommonComponent/Chat/Chat.js
Labels: front, DEPLOY

#712 fix: dm roll back
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/ProfilePage/ProfileHeader.js
Labels: front

#714 fix: #711 DM 방만들기 문제
  front/src/Components/ProfilePage/ProfileHeader.js
Labels: front

#724 fix: #722 fix Dm Err
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/ProfilePage/ProfileHeader.js
Labels: front

#726 [back] feat: #349 cadet list
  back/src/module/cadetqueue.ts
Labels: bug, back

#727 [DEPLOY] backend
  README.md
  back/src/module/cadetqueue.ts
  front/src/App.js
  front/src/Components/AllProjectPage/ProjectTypeBar.js
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/CadetPage/CadetFilter.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungeWrite.js
  front/src/Components/MainPage/Cards.js
  front/src/Components/ProfileEditPage/ProfileEditHeader.js
  front/src/Components/ProfileEditPage/ProfileEditPage.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProfilePage/ProfilePage.js
  front/src/Components/ProjectDetail/CheckModal.js
  front/src/Components/ProjectDetail/MemberCard.js
  front/src/Components/ProjectDetail/ProjectComment.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/Components/ProjectDetail/ProjectInfo.js
  front/src/Components/ProjectDetail/ProjectStatus.js
  front/src/Components/ProjectDetail/WaitList.js
  front/src/Components/ProjectEditPage/Modal.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/SCSS/CadetPage/RecruitCadet.scss
  front/src/SCSS/Common/Chat/ChatCard.scss
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/SCSS/LoungePage/LoungeComment.scss
  front/src/SCSS/LoungePage/LoungePost.scss
  front/src/SCSS/LoungePage/LoungeWrite.scss
  front/src/SCSS/MainPage/Cadet.scss
  front/src/SCSS/MainPage/CadetCards.scss
  front/src/SCSS/MainPage/Dashboard.scss
  front/src/SCSS/MainPage/Lounge.scss
  front/src/SCSS/ProfilePage/ProfileBody.scss
  front/src/SCSS/ProfilePage/ProfileHeader.scss
  front/src/SCSS/ProjectDetail/MemberList.scss
  front/src/SCSS/ProjectDetail/ProjectComment.scss
  front/src/SCSS/ProjectDetail/ProjectDetail.scss
  front/src/SCSS/ProjectDetail/ProjectInfo.scss
  front/src/SCSS/ProjectEditPage/ProjectEditPage.scss
  front/src/SCSS/init.scss
  front/src/skills.json
  front/src/userData.js
Labels: AWS, DEPLOY

#733 [back] feat: #732 level
  back/src/routes/auth/auth.service.ts
Labels: bug, back

#734 [DEPLOY] backend
  back/src/routes/auth/auth.service.ts
  front/src/Components/ProjectDetail/WaitList.js
Labels: AWS, DEPLOY

#764 fix: #658 fix overlap feed notification error
  back/src/routes/project/project.service.ts
Labels: bug, back

#765 [DEPLOY] backend fix error
  back/src/routes/project/project.service.ts
  front/src/App.js
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/CadetPage/AllCadet.js
  front/src/Components/CadetPage/RecruitCadet.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Navbar/Navbar.js
  front/src/Components/CommonComponent/Navbar/SearchCard.js
  front/src/Components/LoungePage/CommentElement.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/MainPage/CadetCards.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/ProfileEditPage/ProfileEditPage.js
  front/src/Components/ProfilePage/ProfileProjects.js
  front/src/SCSS/AllProjectPage/ProjectGrid.scss
  front/src/SCSS/AllProjectPage/ProjectTypeBar.scss
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/SCSS/LoungePage/LoungePost.scss
  front/src/SCSS/MainPage/Cards.scss
  front/src/SCSS/MainPage/Dashboard.scss
  front/src/SCSS/MainPage/Lounge.scss
  front/src/SCSS/ProfilePage/ProfileHeader.scss
  front/src/blankImg.png
  front/src/redux/reducer/LoginReducer.js
Labels: DEPLOY

#781 feat: #780 add updateViewCount API
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back

#798 [back] feat: #766 #797 chat change structure
  back/src/interface/chat.interface.ts
  back/src/models/chat/lastchat.mongo.ts
  back/src/routes/chat/chat.controller.ts
  back/src/routes/chat/chat.service.ts
Labels: back
