Repository 42DoProject/42DoProject, pull requests merged in 2021-11, with the labels that each got.

#356 feat: #355 add field statusMessage
  back/src/interface/search.interface.ts
  back/src/module/search.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
  back/src/routes/user/user.service.ts
Labels: back

#370 [deploy] back 배포 테스트
  .github/workflows/backend.yml
  back/src/routes/index.ts
Labels: AWS, DEPLOY

#373 [deploy] 프론트 배포 테스트
  README.md
Labels: AWS, DEPLOY

#374 [deploy] 프론트 배포 테스트
  .github/workflows/frontend.yml
Labels: AWS, DEPLOY

#375 [deploy] 프론트 배포 테스트
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: AWS, DEPLOY

#382 feat: #380 send blur image to unauthorized user
  back/src/interface/search.interface.ts
  back/src/module/cadetqueue.ts
  back/src/module/search.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
  back/src/routes/search/search.service.ts
  back/src/routes/user/user.service.ts
Labels: back

#383 change response of getApplyerList API
  back/src/routes/project/project.service.ts
Labels: back

#395 feat: #384 #392 #394 Lounge changeLeader reverseOrder
  back/src/models/lounge/likelounge.model.ts
  back/src/models/lounge/likereply.model.ts
  back/src/models/lounge/lounge.model.ts
  back/src/models/lounge/replyoflounge.model.ts
  back/src/models/user/profile.model.ts
  back/src/module/feed.ts
  back/src/routes/index.ts
  back/src/routes/lounge/lounge.controller.ts
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
  back/src/routes/user/user.service.ts
Labels: back

#397 feat: #396 fix unfollow bug
  back/src/routes/user/user.service.ts
Labels: bug, back

#403 [deploy] front 배포
  README.md
  back/src/models/lounge/likelounge.model.ts
  back/src/models/lounge/likereply.model.ts
  back/src/models/lounge/lounge.model.ts
  back/src/models/lounge/replyoflounge.model.ts
  back/src/models/user/profile.model.ts
  back/src/module/feed.ts
  back/src/routes/index.ts
  back/src/routes/lounge/lounge.controller.ts
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
  back/src/routes/user/user.service.ts
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/SCSS/Common/Chat/Chat.scss
  front/src/SCSS/Common/Chat/InChat.scss
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/redux/reducer/LoginReducer.js
Labels: front, AWS, DEPLOY

#405 [DEPLOY] Fix Socket import Err
  front/src/redux/reducer/LoginReducer.js
Labels: front, AWS, DEPLOY

#408 fix: #406 fix error about position correction
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: bug, back

#413 [DEPLOY] 채팅 SCSS 수정
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
  front/src/Components/CommonComponent/Chat/AddConv.js
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/INChatConv.js
  front/src/Components/CommonComponent/Chat/UserNameCard.js
  front/src/SCSS/Common/Chat/Chat.scss
  front/src/SCSS/Common/Chat/ChatCard.scss
  front/src/SCSS/Common/Chat/InChat.scss
  front/src/SCSS/Common/Chat/UserNameCard.scss
Labels: front, DEPLOY

#418 [DEPLOY] Chat SCSS
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/SCSS/Common/Chat/Chat.scss
  front/src/SCSS/Common/Chat/ChatCard.scss
  front/src/SCSS/Common/Chat/ChatRoom.scss
Labels: front, DEPLOY

#421 [DEPLOY] Fix Chat style
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/SCSS/Common/Chat/InChat.scss
Labels: front, DEPLOY

#424 [DEPLOY] 채팅 큰 사이즈 이전 채팅기록 불러오기
  front/src/Components/CommonComponent/Chat/InChat.js
Labels: front, DEPLOY

#426 feat #425 Add MainPage Search
  front/src/Components/CommonComponent/Navbar/Navbar.js
  front/src/Components/CommonComponent/Navbar/ProjectCard.js
  front/src/Components/CommonComponent/Navbar/SearchCard.js
  front/src/SCSS/Common/Navbar/Navbar.scss
Labels: front

#427 [DEPLOY] Add MainPage Search
  front/src/Components/CommonComponent/Navbar/Navbar.js
  front/src/Components/CommonComponent/Navbar/ProjectCard.js
  front/src/Components/CommonComponent/Navbar/SearchCard.js
  front/src/SCSS/Common/Navbar/Navbar.scss
Labels: front, DEPLOY

#428 [DEPLOY] front 배포
  README.md
Labels: AWS, DEPLOY

#446 feat: #445 Add Image Resize
  front/src/App.js
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/INChatConv.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/CommonComponent/Chat/UserNameCard.js
  front/src/Components/CommonComponent/Navbar/ProjectCard.js
  front/src/Components/CommonComponent/Navbar/SearchCard.js
  front/src/Components/MainPage/PublicList.js
  front/src/Components/MainPage/RecruitList.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/SCSS/Common/Chat/InChat.scss
Labels: front

#447 [DEPLOY] Image Resize
  front/src/App.js
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/INChatConv.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/CommonComponent/Chat/UserNameCard.js
  front/src/Components/CommonComponent/Navbar/ProjectCard.js
  front/src/Components/CommonComponent/Navbar/SearchCard.js
  front/src/Components/MainPage/PublicList.js
  front/src/Components/MainPage/RecruitList.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/SCSS/Common/Chat/InChat.scss
Labels: front, DEPLOY

#449 fix: #448 Fix Chat Err
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/INChatConv.js
Labels: front

#450 [DEPLOY] 채팅 에러 수정
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/INChatConv.js
Labels: front, DEPLOY

#457 Update README.md
  README.md
Labels: AWS, DEPLOY

#456 feat: #451 #455 add modifying state API and fix response of postList API
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back

#462 [back] feat: feed dump
  back/src/routes/index.ts
Labels: back

#473 feat: #472 Add feed
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/CommonComponent/Navbar/Notification.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/MainPage/Lounge.js
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/SCSS/Common/Navbar/Notification.scss
Labels: front

#474 [DEPLOY] ADD Feed
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/CommonComponent/Navbar/Notification.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/MainPage/Lounge.js
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/SCSS/Common/Navbar/Notification.scss
Labels: front, DEPLOY

#476 feat: #475 Add Chat time
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/SCSS/Common/Chat/ChatCard.scss
Labels: front

#477 [DEPLOY] Add chat time
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/SCSS/Common/Chat/ChatCard.scss
Labels: front, DEPLOY

#479 fix: #478 Fix Feed Err
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/SCSS/Common/Navbar/Navbar.scss
Labels: front

#480 [DEPLOY] Fix Feed Err
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/SCSS/Common/Navbar/Navbar.scss
Labels: front, DEPLOY

#483 fix: #482 fix Err
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/CommonComponent/Navbar/Notification.js
  front/src/SCSS/Common/Navbar/Navbar.scss
Labels: front

#484 [DEPLOY] fix 채팅방 이미지, 피드 알람 에러
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/CommonComponent/Navbar/Notification.js
  front/src/SCSS/Common/Navbar/Navbar.scss
Labels: front, DEPLOY

#471 [back] feat: notification condition #470
  back/src/routes/user/user.service.ts
Labels: bug, back

#486 fix: #481 fix project feed error
  back/src/interface/user.interface.ts
  back/src/models/user/feed.mongo.ts
  back/src/module/feed.ts
Labels: bug, back

#489 [DEPLOY] fix 채팅 에러
  back/src/interface/user.interface.ts
  back/src/models/user/feed.mongo.ts
  back/src/module/feed.ts
  back/src/routes/user/user.service.ts
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Chat/InChat.js
Labels: front, DEPLOY

#492 feat: #490 Add DM
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/redux/reducer/LoginReducer.js
Labels: front

#493 [DEPLOY] DM 기능 추가
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/redux/reducer/LoginReducer.js
Labels: front, DEPLOY

#494 fix: #490 Err
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/SCSS/Common/Chat/ChatRoom.scss
Labels: front

#495 [DEPLOY] DM Err
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/SCSS/Common/Chat/ChatRoom.scss
Labels: front, DEPLOY

#497 fix: #496 fix Err
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
Labels: front

#499 fix: #498 fix please
  front/src/Components/CommonComponent/Chat/Chat.js
Labels: front

#500 [DEPLOY] Chat Err Please
  front/src/Components/CommonComponent/Chat/Chat.js
Labels: front, DEPLOY

#501 fix: #496 fix Err
  front/src/Components/CommonComponent/Chat/Chat.js
Labels: front

#502 [DEPLOY] fix DM ERR1
  front/src/Components/CommonComponent/Chat/Chat.js
Labels: front, DEPLOY

#504 [DEPLOY]fix DM ERR2
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
Labels: front, DEPLOY

#506 [DEPLOY] Fix DM ERR3
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Chat/InChat.js
Labels: front, DEPLOY

#514 fix: #452 fix project filtering error
  back/src/routes/project/project.service.ts
Labels: bug, back

#515 fix: #507 fix totalMember error in updateList API and getLounge error
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.service.ts
Labels: bug, back

#525 feat: don't make image to S3
  back/src/routes/index.ts
Labels: back

#527 feat: #524 add blur image response in getLounge API
  back/src/routes/lounge/lounge.service.ts
Labels: back

#529 [back] feat: #528 project content image
  back/src/module/aws/s3.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
Labels: back

#533 feat: #530 #531 add loungeId to getLounge API response and checking like
  back/src/routes/lounge/lounge.controller.ts
  back/src/routes/lounge/lounge.service.ts
Labels: back

#539 [DEPLOY] Add 라운지 좋아요 기능
  back/src/routes/lounge/lounge.controller.ts
  back/src/routes/lounge/lounge.service.ts
  front/src/Components/LoungePage/LoungeBody.js
  front/src/Components/LoungePage/LoungePaginate.js
  front/src/Components/LoungePage/LoungePopularPage.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/MainPage/Lounge.js
  front/src/SCSS/LoungePage/LoungePost.scss
Labels: front, DEPLOY

#540 fix: lounge Err
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/MainPage/Dashboard.js
  front/src/SCSS/LoungePage/LoungePost.scss
  front/src/SCSS/MainPage/Lounge.scss
Labels: front

#541 [DEPLOY] 라운지 글 튕겨나가는 에러, CSS 수정
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/MainPage/Dashboard.js
  front/src/SCSS/LoungePage/LoungePost.scss
  front/src/SCSS/MainPage/Lounge.scss
Labels: front, DEPLOY

#547 fix: #546 add userId to response of getLounge API
  back/src/routes/lounge/lounge.service.ts
Labels: back

#549 fix: #548 fix? login err
  front/src/App.js
  front/src/Components/CommonComponent/Chat/Chat.js
Labels: front

#550 [DEPLOY] fix? login err
  back/src/routes/lounge/lounge.service.ts
  front/src/App.js
  front/src/Components/CommonComponent/Chat/Chat.js
Labels: front

#572 [DEPLOY] fix? Redux 에러
  front/src/App.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/MainPage/Dashboard.js
Labels: front, DEPLOY

#574 [back] feat: #573 set status
  back/src/module/cadetqueue.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
Labels: back

#575 feat: #562 fix bug
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.service.ts
Labels: bug, back

#578 [DEPLOY] backend!!
  back/src/module/cadetqueue.ts
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.service.ts
  front/src/App.js
  front/src/Components/AllProjectPage/CompleteProjects.js
  front/src/Components/AllProjectPage/Filter.js
  front/src/Components/AllProjectPage/ProceedProjects.js
  front/src/Components/AllProjectPage/ProjectPaginate.js
  front/src/Components/AllProjectPage/ProjectTypeBar.js
  front/src/Components/AllProjectPage/RecruitProjects.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/PopUp.js
  front/src/Components/CommonComponent/Footer.js
  front/src/Components/CommonComponent/Layout.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/CommonComponent/Navbar/PopUp2.js
  front/src/Components/LoungePage/LoungeBody.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePaginate.js
  front/src/Components/LoungePage/LoungePopularPage.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/LoungePage/LoungeWrite.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/MainPage/Lounge.js
  front/src/Components/MainPage/PopUp.js
  front/src/Components/ProjectDetail/CheckModal.js
  front/src/Components/ProjectDetail/MemberCard.js
  front/src/Components/ProjectDetail/MemberList.js
  front/src/Components/ProjectDetail/ProjectComment.js
  front/src/Components/ProjectDetail/ProjectContent.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/Components/ProjectDetail/ProjectDetailHeader.js
  front/src/Components/ProjectDetail/ProjectInfo.js
  front/src/Components/ProjectDetail/ProjectStatus.js
  front/src/Components/ProjectDetail/ProjectStatusChange.js
  front/src/Components/ProjectDetail/WaitList.js
  front/src/Components/ProjectEditPage/PositionCard.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/SCSS/AllProjectPage/Filter.scss
  front/src/SCSS/AllProjectPage/ProjectPaginate.scss
  front/src/SCSS/AllProjectPage/ProjectTypeBar.scss
  front/src/SCSS/Common/Footer.scss
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/SCSS/LoungePage/LoungeComment.scss
  front/src/SCSS/LoungePage/LoungePost.scss
  front/src/SCSS/LoungePage/LoungeWrite.scss
  front/src/SCSS/MainPage/Dashboard.scss
  front/src/SCSS/MainPage/Lounge.scss
  front/src/SCSS/ProjectDetail/CheckModal.scss
  front/src/SCSS/ProjectDetail/MemberList.scss
  front/src/SCSS/ProjectDetail/ProjectComment.scss
  front/src/SCSS/ProjectDetail/ProjectContent.scss
  front/src/SCSS/ProjectDetail/ProjectDetail.scss
  front/src/SCSS/ProjectDetail/ProjectDetailHeader.scss
  front/src/SCSS/ProjectDetail/ProjectStatusChange.scss
  front/src/SCSS/ProjectDetail/WaitList.scss
  front/src/SCSS/ProjectEditPage/PositionCard.scss
  front/src/SCSS/init.scss
Labels: back, DEPLOY

#579 fix error in getLounge API
  back/src/routes/lounge/lounge.service.ts
Labels: bug, back

#580 [DEPLOY] backend!!!
  back/src/routes/lounge/lounge.service.ts
Labels: back, DEPLOY

#592 [DEPLOY] backend
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
  front/src/App.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/LoungePage/LoungeWrite.js
  front/src/Components/MainPage/Lounge.js
  front/src/Components/ProjectDetail/MemberCard.js
  front/src/Components/ProjectDetail/MemberList.js
  front/src/Components/ProjectDetail/ProjectComment.js
  front/src/Components/ProjectDetail/ProjectContent.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/Components/ProjectDetail/ProjectInfo.js
  front/src/Components/ProjectDetail/ProjectStatusChange.js
  front/src/Components/ProjectDetail/WaitList.js
  front/src/SCSS/Base.scss
  front/src/SCSS/LoungePage/LoungeComment.scss
  front/src/SCSS/MainPage/Dashboard.scss
  front/src/SCSS/MainPage/Lounge.scss
  front/src/SCSS/ProjectDetail/MemberList.scss
  front/src/SCSS/ProjectDetail/ProjectComment.scss
  front/src/redux/reducer/LoginReducer.js
Labels: AWS, DEPLOY

#594 fix: #593 fix Dm Err
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/redux/reducer/DmReducer.js
  front/src/redux/reducer/LoginReducer.js
  front/src/redux/reducer/RootReducer.js
Labels: front

#595 [DEPLOY] Fix Dm err
  back/src/routes/auth/auth.service.ts
  back/src/routes/index.ts
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/redux/reducer/DmReducer.js
  front/src/redux/reducer/LoginReducer.js
  front/src/redux/reducer/RootReducer.js
Labels: front, DEPLOY

#597 fix: #596 fix Dm err
  front/src/redux/reducer/LoginReducer.js
Labels: front

#598 [DEPLOY]fix Dm err
  front/src/redux/reducer/LoginReducer.js
Labels: front, DEPLOY

#600 fix: #599 Dm err
  front/src/redux/reducer/LoginReducer.js
Labels: front

#601 [DEPLOY]Fix DM Err3
  front/src/redux/reducer/LoginReducer.js
Labels: front, DEPLOY

#609 fix: #591 #604 fix delete member error and change ordering lounge reply
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.service.ts
Labels: bug, back

#610 [DEPLOY] backend 라운지 답글 error, 팀 나가기 error 수정
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.service.ts
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Footer.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/LoungePage/CommentElement.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProjectDetail/MemberCard.js
  front/src/Components/ProjectDetail/MemberList.js
  front/src/SCSS/LoungePage/LoungeComment.scss
  front/src/SCSS/LoungePage/LoungePost.scss
  front/src/SCSS/ProfilePage/ProfileHeader.scss
  front/src/redux/reducer/DmReducer.js
  front/src/redux/reducer/LoginReducer.js
  front/src/redux/reducer/RootReducer.js
Labels: back, DEPLOY

#613 [DEPLOY] Fix Power Login
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.service.ts
  front/src/App.js
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/redux/reducer/DmReducer.js
  front/src/redux/reducer/LoginReducer.js
  front/src/redux/reducer/RootReducer.js
Labels: front, DEPLOY

#615 fix: #590 fix feed notification error
  back/src/routes/project/project.service.ts
Labels: bug, back

#618 feat: #617 modify lounge reply pagination
  front/src/Components/LoungePage/CommentElement.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/SCSS/LoungePage/LoungePost.scss
Labels: front

#629 [DEPLOY] backend
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  back/src/routes/project/project.service.ts
  front/src/App.js
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Navbar/Navbar.js
  front/src/Components/LoungePage/CommentElement.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/ProfileEditPage/ProfileEditBody.js
  front/src/Components/ProfileEditPage/ProfileEditHeader.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProfilePage/ProfilePage.js
  front/src/Components/ProjectEditPage/Modal.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/SCSS/AllProjectPage/Filter.scss
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/SCSS/LoungePage/LoungePost.scss
  front/src/SCSS/ProfilePage/ProfileBody.scss
  front/src/SCSS/ProjectDetail/ProjectStatusChange.scss
  front/src/SCSS/ProjectDetail/WaitList.scss
  front/src/SCSS/ProjectEditPage/ProjectEditPage.scss
  front/src/redux/reducer/DmReducer.js
  front/src/redux/reducer/LoginReducer.js
  front/src/redux/reducer/RootReducer.js
Labels: AWS, DEPLOY

#630 [DEPLOY] frontend
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  back/src/routes/project/project.service.ts
  front/src/Components/CommonComponent/Navbar/Navbar.js
  front/src/Components/LoungePage/CommentElement.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/ProfileEditPage/ProfileEditBody.js
  front/src/Components/ProfileEditPage/ProfileEditHeader.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProfilePage/ProfilePage.js
  front/src/Components/ProjectEditPage/Modal.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/SCSS/AllProjectPage/Filter.scss
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/SCSS/LoungePage/LoungePost.scss
  front/src/SCSS/ProfilePage/ProfileBody.scss
  front/src/SCSS/ProjectDetail/ProjectStatusChange.scss
  front/src/SCSS/ProjectDetail/WaitList.scss
  front/src/SCSS/ProjectEditPage/ProjectEditPage.scss
Labels: AWS, DEPLOY

#628 fix: #469 #624 fix error invalid projectId and modify replyoflounge
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.service.ts
Labels: back

#631 feat: #626 modify modal.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/ProjectDetail/MemberCard.js
  front/src/Components/ProjectEditPage/Modal.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/Components/ProjectEditPage/Unsplash.js
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/SCSS/MainPage/Lounge.scss
Labels: front

#636 [DEPLOY] feat: https
  front/src/App.js
  front/src/Components/AllProjectPage/ProjectPaginate.js
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/CadetPage/AllCadet.js
  front/src/Components/CadetPage/RecruitCadet.js
  front/src/Components/CommonComponent/Chat/AddConv.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Chat/INChatConv.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/CommonComponent/Chat/PopUp.js
  front/src/Components/CommonComponent/Navbar/Navbar.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/CommonComponent/Navbar/Notification.js
  front/src/Components/LoungePage/CommentElement.js
  front/src/Components/LoungePage/LoungeBody.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePaginate.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/LoungePage/LoungeWrite.js
  front/src/Components/MainPage/Cadet.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/MainPage/Lounge.js
  front/src/Components/MainPage/PopUp.js
  front/src/Components/MainPage/PublicList.js
  front/src/Components/MainPage/RecruitList.js
  front/src/Components/ProfileEditPage/ProfileEditPage.js
  front/src/Components/ProfilePage/Follow.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProfilePage/ProfilePage.js
  front/src/Components/ProfilePage/UnfollowAlert.js
  front/src/Components/ProjectDetail/CheckModal.js
  front/src/Components/ProjectDetail/MemberCard.js
  front/src/Components/ProjectDetail/MemberList.js
  front/src/Components/ProjectDetail/ProjectComment.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/Components/ProjectDetail/ProjectInfo.js
  front/src/Components/ProjectDetail/ProjectStatusChange.js
  front/src/Components/ProjectDetail/WaitList.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/socket.js
Labels: AWS, DEPLOY

#644 [DEPLOY] backend
  back/src/routes/lounge/lounge.service.ts
  back/src/routes/project/project.service.ts
  front/src/App.js
  front/src/Components/AllProjectPage/ProjectPaginate.js
  front/src/Components/AllProjectPage/ProjectTypeBar.js
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/CadetPage/AllCadet.js
  front/src/Components/CadetPage/RecruitCadet.js
  front/src/Components/CommonComponent/Chat/AddConv.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Chat/INChatConv.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/CommonComponent/Chat/PopUp.js
  front/src/Components/CommonComponent/Navbar/Navbar.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/CommonComponent/Navbar/Notification.js
  front/src/Components/LoungePage/CommentElement.js
  front/src/Components/LoungePage/LoungeBody.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePage.js
  front/src/Components/LoungePage/LoungePaginate.js
  front/src/Components/LoungePage/LoungePopularPage.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/LoungePage/LoungeWrite.js
  front/src/Components/MainPage/Cadet.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/MainPage/Lounge.js
  front/src/Components/MainPage/PopUp.js
  front/src/Components/MainPage/PublicList.js
  front/src/Components/MainPage/RecruitList.js
  front/src/Components/ProfileEditPage/ProfileEditPage.js
  front/src/Components/ProfilePage/Follow.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProfilePage/ProfilePage.js
  front/src/Components/ProfilePage/UnfollowAlert.js
  front/src/Components/ProjectDetail/CheckModal.js
  front/src/Components/ProjectDetail/MemberCard.js
  front/src/Components/ProjectDetail/MemberList.js
  front/src/Components/ProjectDetail/ProjectComment.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/Components/ProjectDetail/ProjectInfo.js
  front/src/Components/ProjectDetail/ProjectStatusChange.js
  front/src/Components/ProjectDetail/WaitList.js
  front/src/Components/ProjectEditPage/Modal.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/Components/ProjectEditPage/Unsplash.js
  front/src/SCSS/Base.scss
  front/src/SCSS/Common/Navbar/Navbar.scss
  front/src/SCSS/LoungePage/LoungeBody.scss
  front/src/SCSS/LoungePage/LoungeWrite.scss
  front/src/SCSS/MainPage/Dashboard.scss
  front/src/SCSS/MainPage/Lounge.scss
  front/src/SCSS/ProjectDetail/ProjectComment.scss
  front/src/socket.js
Labels: AWS, DEPLOY

#648 fix: #647 fix dm err
  front/src/Components/CommonComponent/Chat/Chat.js
Labels: front

#649 [DEPLOY] fix Dm err
  front/src/App.js
  front/src/Components/AllProjectPage/ProjectPaginate.js
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/CadetPage/AllCadet.js
  front/src/Components/CadetPage/RecruitCadet.js
  front/src/Components/CommonComponent/Chat/AddConv.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Chat/INChatConv.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/CommonComponent/Chat/PopUp.js
  front/src/Components/CommonComponent/Navbar/Navbar.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/CommonComponent/Navbar/Notification.js
  front/src/Components/LoungePage/CommentElement.js
  front/src/Components/LoungePage/LoungeBody.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePaginate.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/LoungePage/LoungeWrite.js
  front/src/Components/MainPage/Cadet.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/MainPage/Lounge.js
  front/src/Components/MainPage/PopUp.js
  front/src/Components/MainPage/PublicList.js
  front/src/Components/MainPage/RecruitList.js
  front/src/Components/ProfileEditPage/ProfileEditPage.js
  front/src/Components/ProfilePage/Follow.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProfilePage/ProfilePage.js
  front/src/Components/ProfilePage/UnfollowAlert.js
  front/src/Components/ProjectDetail/CheckModal.js
  front/src/Components/ProjectDetail/MemberCard.js
  front/src/Components/ProjectDetail/MemberList.js
  front/src/Components/ProjectDetail/ProjectComment.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/Components/ProjectDetail/ProjectInfo.js
  front/src/Components/ProjectDetail/ProjectStatusChange.js
  front/src/Components/ProjectDetail/WaitList.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/Components/ProjectEditPage/Unsplash.js
  front/src/socket.js
Labels: front

#653 fix: #652 fix error feed notification
  back/src/routes/project/project.service.ts
Labels: bug, back

#654 [DEPLOY] backend
  README.md
  back/src/routes/project/project.service.ts
  front/src/App.js
  front/src/Components/AllProjectPage/ProjectPaginate.js
  front/src/Components/AuthMain/AuthMain.js
  front/src/Components/CadetPage/AllCadet.js
  front/src/Components/CadetPage/RecruitCadet.js
  front/src/Components/CommonComponent/Chat/AddConv.js
  front/src/Components/CommonComponent/Chat/Chat.js
  front/src/Components/CommonComponent/Chat/ChatCard.js
  front/src/Components/CommonComponent/Chat/ChatRoom.js
  front/src/Components/CommonComponent/Chat/INChatConv.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/CommonComponent/Chat/PopUp.js
  front/src/Components/CommonComponent/Navbar/Navbar.js
  front/src/Components/CommonComponent/Navbar/NotiCard.js
  front/src/Components/CommonComponent/Navbar/Notification.js
  front/src/Components/LoungePage/CommentElement.js
  front/src/Components/LoungePage/LoungeBody.js
  front/src/Components/LoungePage/LoungeComment.js
  front/src/Components/LoungePage/LoungePaginate.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/LoungePage/LoungeWrite.js
  front/src/Components/MainPage/Cadet.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/MainPage/Lounge.js
  front/src/Components/MainPage/PopUp.js
  front/src/Components/MainPage/PublicList.js
  front/src/Components/MainPage/RecruitList.js
  front/src/Components/ProfileEditPage/ProfileEditPage.js
  front/src/Components/ProfilePage/Follow.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProfilePage/ProfilePage.js
  front/src/Components/ProfilePage/UnfollowAlert.js
  front/src/Components/ProjectDetail/CheckModal.js
  front/src/Components/ProjectDetail/MemberCard.js
  front/src/Components/ProjectDetail/MemberList.js
  front/src/Components/ProjectDetail/ProjectComment.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/Components/ProjectDetail/ProjectInfo.js
  front/src/Components/ProjectDetail/ProjectStatusChange.js
  front/src/Components/ProjectDetail/WaitList.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/Components/ProjectEditPage/Unsplash.js
  front/src/socket.js
Labels: back, DEPLOY

#656 fix: #655 fix feed notification error
  back/src/routes/project/project.service.ts
Labels: bug, back

#657 [DEPLOY] backend
  back/src/routes/project/project.service.ts
Labels: back, DEPLOY

#660 feat : #621 add cadet list filter
  front/src/Components/AllProjectPage/ProjectFilter.js
  front/src/Components/AllProjectPage/ProjectTypeBar.js
  front/src/Components/CadetPage/AllCadet.js
  front/src/Components/CadetPage/CadetFilter.js
  front/src/Components/CadetPage/CadetTypeBar.js
  front/src/Components/CadetPage/RecruitCadet.js
  front/src/SCSS/AllProjectPage/ProjectFilter.scss
  front/src/SCSS/CadetPage/CadetFilter.scss
  front/src/SCSS/CadetPage/CadetTypeBar.scss
Labels: enhancement, front

#671 feat: #670 following follower image blur
  back/src/routes/user/user.service.ts
Labels: back
