Repository 42DoProject/42DoProject, pull requests merged in 2022-01, with the labels that each got.

#826 [DEPLOY] backend
  .github/workflows/frontend.yml
  .github/workflows/task-definition-front.json
  README.md
  back/src/interface/chat.interface.ts
  back/src/models/chat/lastchat.mongo.ts
  back/src/routes/chat/chat.controller.ts
  back/src/routes/chat/chat.service.ts
  back/src/routes/project/project.controller.ts
  back/src/routes/project/project.service.ts
  front/package-lock.json
  front/src/App.js
  front/src/Components/AllProjectPage/ProjectTypeBar.js
  front/src/Components/CommonComponent/Chat/InChat.js
  front/src/Components/CommonComponent/Unauthorized.js
  front/src/Components/LoungePage/LoungePost.js
  front/src/Components/LoungePage/LoungeWrite.js
  front/src/Components/MainPage/CadetCards.js
  front/src/Components/MainPage/Dashboard.js
  front/src/Components/MainPage/NotPage.js
  front/src/Components/ProfileEditPage/ProfileEditHeader.js
  front/src/Components/ProfileEditPage/ProfileEditPage.js
  front/src/Components/ProfilePage/Follow.js
  front/src/Components/ProfilePage/FollowCard.js
  front/src/Components/ProfilePage/ProfileHeader.js
  front/src/Components/ProjectDetail/MemberList.js
  front/src/Components/ProjectDetail/ProjectDetail.js
  front/src/Components/ProjectDetail/ProjectInfo.js
  front/src/Components/ProjectDetail/ProjectStatusChange.js
  front/src/Components/ProjectEditPage/Modal.js
  front/src/Components/ProjectEditPage/ProjectEditLeft.js
  front/src/Components/ProjectEditPage/ProjectEditPage.js
  front/src/Components/ProjectEditPage/ProjectEditRight.js
  front/src/Components/ProjectEditPage/Unsplash.js
  front/src/SCSS/AllProjectPage/ProjectTypeBar.scss
  front/src/SCSS/Base.scss
  front/src/SCSS/CadetPage/CadetFilter.scss
  front/src/SCSS/Common/Chat/InChat.scss
  front/src/SCSS/Common/Unauthorized.scss
  front/src/SCSS/Loading.scss
  front/src/SCSS/MainPage/Cards.scss
  front/src/SCSS/MainPage/DashSlide.scss
  front/src/SCSS/MainPage/Dashboard.scss
  front/src/SCSS/ProfileEditPage/ProfileEditPage.scss
  front/src/SCSS/ProfilePage/ProfileHeader.scss
  front/src/SCSS/ProjectDetail/MemberList.scss
  front/src/SCSS/ProjectDetail/ProjectInfo.scss
  front/src/SCSS/ProjectEditPage/Modal.scss
  front/src/SCSS/ProjectEditPage/ProjectEditPage.scss
  front/src/SCSS/ProjectEditPage/Unsplash.scss
  front/src/redux/reducer/LoginReducer.js
Labels: back, DEPLOY

#828 [DEPLOY] backend
  README.md
Labels: AWS, DEPLOY

#840 feat: #606 add recruiting position when member exit
  back/src/routes/project/project.service.ts
Labels: enhancement, back

#841 [DEPLOY] backend
  .github/workflows/frontend.yml
  back/src/routes/project/project.service.ts
  front/package.json
Labels: back, DEPLOY

#842 fix: #801 fix position change error
  back/src/routes/project/project.service.ts
  front/src/Components/ProjectDetail/CheckModal.js
Labels: bug, front

#843 [DEPLOY] frontend
  back/src/routes/project/project.service.ts
  front/src/App.js
  front/src/Components/ProjectDetail/CheckModal.js
Labels: front, DEPLOY
